.success{
	padding: 20px;
	border-radius: 30px;
	background-color: #CCEE88;
	border: 2px green solid;
	color: green;
}

.error{
	padding: 20px;
	border-radius: 30px;
	background-color: #FFCCCC;
	border: 3px red solid;
	color: red;
}